# Default ignored files/shelf//workspace.xml# Datasource local storage ignored files/../../../../../../:\home\aljaz\specto\graphql-tech-talk\.idea/dataSources//dataSources.local.xml# Editor-based HTTP Client requests/httpRequests/